<h3> Contacts </h3>
	<% @contacts.each do |contact| %>
	<p>
		<%= contact.name %> <br>
		<%= contact.email %><br>
		<%= contact.telephone %>
	</p>
<% end %>

<%= link_to 'Back', user_path(@user_id) %> |

<button id="newContact">New Contact<%= new_user_contact_path(@user_id)%></button>